= render 'shared/header'
= render 'shared/alert'

.container.space-top
  %h2 Simple Chatbot Privacy Policy
  %p
    InSTEDD built the Simple Chatbot Service app as an Open Source app. This SERVICE is made available by InSTEDD at no cost and is intended for use as is.

    %br
    %br

    This document is intended to inform website visitors about InSTEDD’s policies regarding the collection, use, and disclosure of Personal Information for those who utilize this Service.

    %br
    %br

    If you choose to use our Service, then you agree to the collection and use of information as set forth in this policy. The Personal Information that we collect is used for providing and improving our Service. We will not use or share your Personal Information with anyone except as described in this Privacy Policy.

    %br
    %br

    The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at Simple Chatbot unless otherwise defined in this Privacy Policy.

  %p{style: "margin-top: 30px;"}
    %h4 Information Collection and Use 
    For a better experience, while using our Service, we may require you to provide us with certain personally-identifiable information, including but not limited to: username, mobile phone number, incoming SMS. The information that we request will be retained by us and used as described in this privacy policy.

    %br
    %br

    The Simple Chatbot Service app does use third party services that may collect information used to identify you.

    %br
    %br

    Below is a link to the privacy policy of third party service providers used by the app
    %br
    %br

    %li{style: 'margin-left: 30px;'}
      %a{ href: "https://policies.google.com/privacy", target: "_blank" } Google Play Services
    %li{style: 'margin-left: 30px;'}
      %a{ href: "https://www.facebook.com/about/privacy/update", target: "_blank" } Facebook Data Privacy

  %p{style: "margin-top: 30px;"}
    %h4 Log Data

    Whenever you use our Service and experience an error in the app, we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.

  %p{style: "margin-top: 30px;"}
    %h4 Cookies

    Cookies are files with small amounts of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the website that you visit and are stored on your device internal memory.

    %br
    %br

    The Simple Chatbot Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and to improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.

  %p{style: "margin-top: 30px;"}
    %h4 Service Providers

    We may employ third-party companies and individuals to:
    Facilitate our Service;
    Provide the Service on our behalf;
    Assist us in analyzing how our Service is used.

    We want users of this Service to know that these third parties have access to your Personal
    Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.

  %p{style: "margin-top: 30px;"}
    %h4 Security

    We value your trust in providing us your Personal Information, thus we are striving to use
    commercially-acceptable means of protecting it. But keep in mind that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we therefore cannot guarantee its absolute security.

  %p{style: "margin-top: 30px;"}
    %h4 Links to Other Sites

    This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by InSTEDD. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.

  %p{style: "margin-top: 30px;"}
    %h4 Children’s Privacy

    These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the event we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we can take the necessary actions.
    
  %p{style: "margin-top: 30px;"}
    %h4 Changes to This Privacy Policy

    We may update our Privacy Policy from time to time. Thus, you are advised to review this page
    periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.

  %p{style: "margin-top: 30px;"}
    %h4 Contact Us

    If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at info@instedd.org
