---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.6/me/messages?access_token=token&recipient%5Bid%5D=1612943458742093&sender_action=typing_on
    body:
      encoding: UTF-8
      string: this is a request body
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"Bt\/Ky8Qadj7"}}'
  recorded_at: Thu, 05 Apr 2018 09:05:52 GMT
recorded_with: VCR 4.0.0
