---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.6/me/messages?access_token=aabbccdd&recipient%5Bid%5D=1612943458742093&sender_action=typing_on
    body:
      encoding: UTF-8
      string: this is a request body
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Page-Usage:
      - '{"call_count":1,"total_cputime":1,"total_time":1}'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.12
    body:
      encoding: UTF-8
      string: '{"recipient_id":"1612943458742093"}'
  recorded_at: Thu, 05 Apr 2018 09:05:52 GMT
recorded_with: VCR 4.0.0
