= render 'shared/header'

.container.space-top
  %center
    #div{style: "width:80%;", align: "right"}
      %a.btn.icon-btn.btn-primary{:href => "/users/new"}
        Create new
  %br

  %table.table-bordered.table.central{style: "width:80%;", align: "center"}
    %thead
      %tr
        %th{width: 60} #
        %th Email
        %th Role
        %th Actions
    %tbody
      - @users.each_with_index do |user, index|
        %tr
          %td= index + 1
          %td= link_to user.email, edit_user_path(user.id)
          %td= user.role
          %td
            %a.btn.btn-info.btn-xs{:href => edit_user_path(user.id)}
              Edit

            - if user.id != current_user.id
              %a.btn.btn-danger.btn-xs{:rel => "nofollow", :href => user_path(user.id), "data-method" => "delete",  data: { confirm: 'Are you sure you want to delete the user?' }}
                Delete
