%button#auth{:disabled => "disabled", :type => "button"} Spreadsheet Authenticate
#result
/ The Google API Loader script.
%script{:src => "https://apis.google.com/js/api.js?onload=LoadMe", :type => "text/javascript"}
