#import.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Import Form
      = form_tag import_bot_path(@bot), multipart: true, class: 'form-group' do
        .modal-body
          .form-group
            = label_tag 'Accept only compress(.zip) or Ms. Excel(.xls, .xlsx) file'
            = file_field_tag :file, required: true, accept: 'application/zip, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = submit_tag "Import", class: 'btn btn-default btn-primary'
