%button#auth.btn.btn-default{disabled: 'disabled', type: 'button', 'data-bot-id' => @bot.id} Spreadsheet Authenticate
#result
/ The Google API Loader script.
%script{:src => "https://apis.google.com/js/api.js?onload=LoadMe", :type => "text/javascript"}
