.jumbotron
  %h2 Facebook Page
  %p Connect your bot to facebook page!

  - if @bot.facebook_page_id.present?
    .card
      .card-body
        .paragraph
          %div
            %span Facebook page id:
            %span= @bot.facebook_page_id
          %div.ellipsis
            %span Facebook page access token:
            %span.inline-block= @bot.facebook_page_access_token

        %button.btn.btn-default.btn-primary{'data-target' => '#facebook-modal', 'data-toggle' => 'modal', type: 'button', 'data-bot' => @bot.to_json} Reconnect
  - else
    %button.btn.btn-default.btn-primary{'data-target' => '#facebook-modal', 'data-toggle' => 'modal', type: 'button', 'data-bot' => @bot.to_json} Connect

= render 'facebook_modal'
