.jumbotron
  %h2 Google Spreadsheet
  %p Connect your bot to google spreadsheet!

  - if @bot.authorized_spreadsheet?
    .card
      .card-body
        .paragraph
          %span Your spreadsheet:
          %b#title= @bot.google_spreadsheet_title

        - unless current_user.admin?
          .picker
            %button#auth.btn.btn-default.btn-primary{ type: 'button', 'data-bot-id' => @bot.id } Reconnect
  - elsif !current_user.admin?
    %button#auth.btn.btn-default.btn-primary{ type: 'button', 'data-bot-id' => @bot.id } Connect

%script{:src => "https://apis.google.com/js/api.js?onload=LoadMe", :type => "text/javascript"}
