SECRET_KEY_BASE:
HOSTNAME: http://localhost:3000
GOOGLE_CLIENT_ID:
GOOGLE_CLIENT_SECRET:
GOOGLE_CALLBACK_URL: https://localhost:3000/oauth_callbacks
GOOGLE_CLIENT_ORIGIN: https://localhost:3000
GOOGLE_API_KEY:

SIDEKIQ_USERNAME:
SIDEKIQ_PASSWORD:

DATABASE_USERNAME: root
DATABASE_PASSWORD:
FACEBOOK_VALIDATION_TOKEN: 123456

FACEBOOK_APP_ID:
FACEBOOK_APP_SECRET:
FACEBOOK_PERMISSION_SCOPES: 'email,pages_show_list,manage_pages'

SAMPLE_XLS_FILE_NAME: 'survey'
MEDIA_EXTENSION_SUPPORT: 'png,jpeg,jpg,gif'
