SECRET_KEY_BASE:
HOST: http://localhost:3000

DB_HOST: 'localhost'
DB_USER: root
DB_PWD: ''
DB_MAX_CONNECTION_POOL: 5
DB_CONNECTION_TIMEOUT: 5000

SAMPLE_XLS_FILE_NAME: 'survey'

SIDEKIQ_USERNAME:
SIDEKIQ_PASSWORD:

GOOGLE_CLIENT_ID:
GOOGLE_CLIENT_SECRET:
GOOGLE_CALLBACK_URL: https://localhost:3000/oauth_callbacks
GOOGLE_CLIENT_ORIGIN: https://localhost:3000
GOOGLE_API_KEY:

FACEBOOK_APP_ID: 
FACEBOOK_APP_SECRET: 
FACEBOOK_PERMISSION_SCOPES: 
FACEBOOK_VALIDATION_TOKEN: TOKEN
SAMPLE_XLS_FILE_NAME: 'survey'
MEDIA_EXTENSION_SUPPORT: 'png,jpeg,jpg,gif'
